
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.loginpage-pZf {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-right: 11.3rem;
  width: 100%;
  overflow: hidden;

  .pexels-jess-loiterton-4321802-1-xvm {
    width: 64.2rem;
    height: 102.4rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin-right: 11.5rem;
  }
  .auto-group-fgq7-Hi9 {
    margin-bottom: 10rem;
    width: 57rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .login-29w {
      line-height: 1.2000000477;
      letter-spacing: -0.128rem;
      font-family: Newsreader, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 2.1rem 10.7rem 0rem;
      display: flex;
      font-size: 6.4rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
    }
    .emailtext-K93 {
      overflow: hidden;
      font-size: 3.2rem;
      font-family: Newsreader, 'Source Sans Pro';
      background-color: #ffffff;
      margin-bottom: 6.2rem;
      font-weight: 400;
      color: #c3bebe;
      white-space: nowrap;
      flex-shrink: 0;
      padding: 3.8rem 3.2rem;
      position: relative;
      line-height: 0.1199999973;
      border: solid 0.1rem #c3bebe;
      border-radius: 0.5rem;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      letter-spacing: -0.064rem;
    }
    .passwordtext-mWq {
      padding: 1.9rem 1.8rem 1.9rem 2.5rem;
      overflow: hidden;
      display: flex;
      border: solid 0.1rem #c3bebe;
      border-radius: 0.5rem;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;
      position: relative;
      align-items: center;
      background-color: #ffffff;

      .password-u7F {
        font-weight: 400;
        line-height: 0.1199999973;
        letter-spacing: -0.064rem;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 35.1rem;
        font-size: 3.2rem;
        font-family: Newsreader, 'Source Sans Pro';
        display: flex;
        color: #c3bebe;
      }
      .adsz-tasarm-1-oyK {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 5.3rem;
        height: 4.2rem;
      }
    }
    .auto-group-1yjx-uFf {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 10.7rem 18.3rem 0rem 18.2rem;
      width: 100%;

      .loginbutton-EYq {
        margin-bottom: 11.7rem;
        flex-shrink: 0;
        justify-content: center;
        line-height: 0.1199999973;
        letter-spacing: -0.064rem;
        color: #ffffff;
        font-family: Newsreader, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 0.5rem;
        width: 100%;
        height: 7rem;
        overflow: hidden;
        position: relative;
        font-size: 3.2rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #39a7ff;
        display: flex;
        align-items: center;
        font-weight: 400;
      }
      .register-6b3 {
        margin: 0rem 2.6rem 0rem 2.1rem;
        width: calc(100% - 4.7rem);
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .add-user-1-RdK {
          flex-shrink: 0;
          margin-right: 1.2833rem;
          width: 3.9167rem;
          height: 5rem;
          object-fit: cover;
          vertical-align: top;
        }
        .register-xdF {
          font-weight: 400;
          line-height: 0.1199999973;
          letter-spacing: -0.064rem;
          color: #39a7ff;
          margin-top: 0.9rem;
          display: flex;
          font-size: 3.2rem;
          flex-shrink: 0;
          text-decoration-line: underline;
          font-family: Newsreader, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
}
