html {
	font-size:62.5%;
  overflow-x: hidden;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.loginpage-pZf {
  box-sizing: border-box;
  padding-right: 11.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.loginpage-pZf .pexels-jess-loiterton-4321802-1-xvm {
  margin-right: 11.5rem;
  width: 64.2rem;
  height: 105.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.loginpage-pZf .auto-group-fgq7-Hi9 {
  margin-bottom: 45rem;
  width: 57rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.loginpage-pZf .auto-group-fgq7-Hi9 .login-29w {
  margin: 0rem 2.1rem 2.7rem 0rem;
  display: flex;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: -0.128rem;
  color: #000000;
  font-family: Newsreader, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.loginpage-pZf .auto-group-fgq7-Hi9 .emailtext-K93 {
  margin-bottom: 3.2rem;
  box-sizing: border-box;
  padding: 3.8rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.1199999973;
  letter-spacing: -0.064rem;
  color: #c3bebe;
  font-family: Newsreader, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #c3bebe;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.loginpage-pZf .auto-group-fgq7-Hi9 .passwordtext-mWq {
  box-sizing: border-box;
  padding: 1.9rem 1.8rem 1.9rem 2.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #c3bebe;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.loginpage-pZf .auto-group-fgq7-Hi9 .passwordtext-mWq .password-u7F {
  margin-right: 35.1rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.1199999973;
  letter-spacing: -0.064rem;
  color: #c3bebe;
  font-family: Newsreader, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.loginpage-pZf .auto-group-fgq7-Hi9 .passwordtext-mWq .adsz-tasarm-1-oyK {
  width: 5.3rem;
  height: 4.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.loginpage-pZf .auto-group-fgq7-Hi9 .auto-group-1yjx-uFf {
  box-sizing: border-box;
  padding: 10.7rem 18.3rem 0rem 18.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.loginpage-pZf .auto-group-fgq7-Hi9 .auto-group-1yjx-uFf .loginbutton-EYq {
  margin-bottom: 4.7rem;
  width: 100%;
  height: 7rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.1199999973;
  letter-spacing: -0.064rem;
  color: #ffffff;
  font-family: Newsreader, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #39a7ff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.loginpage-pZf .auto-group-fgq7-Hi9 .auto-group-1yjx-uFf .register-6b3 {
  margin: 0rem 2.6rem 0rem 2.1rem;
  width: calc(100% - 4.7rem);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.loginpage-pZf .auto-group-fgq7-Hi9 .auto-group-1yjx-uFf .register-6b3 .add-user-1-RdK {
  margin-right: 1.2833rem;
  width: 3.9167rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.loginpage-pZf .auto-group-fgq7-Hi9 .auto-group-1yjx-uFf .register-6b3 .register-xdF {
  margin-top: 0.9rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.1199999973;
  letter-spacing: -0.064rem;
  text-decoration-line: underline;
  color: #39a7ff;
  font-family: Newsreader, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}