html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.registerpage-Ru3 {
  box-sizing: border-box;
  padding-right: 15.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.registerpage-Ru3 .pexels-quang-nguyen-vinh-3355788-1-aQZ {
  margin-right: 15.9rem;
  width: 49.4rem;
  height: 91.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.registerpage-Ru3 .auto-group-lus5-cs3 {
  margin-bottom: 25.4rem;
  width: 63.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.registerpage-Ru3 .auto-group-lus5-cs3 .register-5u3 {
  margin: 0rem 0.8rem 2rem 0rem;
  display: flex;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: -0.128rem;
  color: #000000;
  font-family: Newsreader, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.registerpage-Ru3 .auto-group-lus5-cs3 .auto-group-d8fj-86d {
  margin-bottom: 1rem;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.registerpage-Ru3 .auto-group-lus5-cs3 .auto-group-d8fj-86d .emailtext-TPo {
  margin-right: 3.3rem;
  box-sizing: border-box;
  padding: 3.8rem 3.2rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.1199999973;
  letter-spacing: -0.064rem;
  color: #c3bebe;
  font-family: Newsreader, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #c3bebe;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.registerpage-Ru3 .auto-group-lus5-cs3 .auto-group-d8fj-86d .emailtext-4uP {
  box-sizing: border-box;
  padding: 3.8rem 3.2rem;
  width: 30rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.1199999973;
  letter-spacing: -0.064rem;
  color: #c3bebe;
  font-family: Newsreader, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #c3bebe;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.registerpage-Ru3 .auto-group-lus5-cs3 .emailtext-KqK {
  margin-bottom: 0.8rem;
  box-sizing: border-box;
  padding: 0rem 2.1rem 2rem 2.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #c3bebe;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.registerpage-Ru3 .auto-group-lus5-cs3 .emailtext-KqK .line-1-RtM {
  margin: 0rem 0rem 2.9rem 9.1rem;
  width: 0rem;
  height: 0.1rem;
  background-color: #c3bebe;
  flex-shrink: 0;
}
.registerpage-Ru3 .auto-group-lus5-cs3 .emailtext-KqK .auto-group-fv57-MX7 {
  margin-right: 27.6rem;
  width: calc(100% - 27.6rem);
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.registerpage-Ru3 .auto-group-lus5-cs3 .emailtext-KqK .auto-group-fv57-MX7 .auto-group-lg8y-Hff {
  margin-right: 2.4rem;
  width: 9.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.registerpage-Ru3 .auto-group-lus5-cs3 .emailtext-KqK .auto-group-fv57-MX7 .auto-group-lg8y-Hff .down-chevron-1-S2m {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 5.1rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.registerpage-Ru3 .auto-group-lus5-cs3 .emailtext-KqK .auto-group-fv57-MX7 .auto-group-lg8y-Hff .item-90-jnZ {
  width: 5.2rem;
  height: 0.4rem;
  position: absolute;
  left: 0;
  top: 2.3rem;
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.1199999968;
  letter-spacing: -0.06rem;
  color: #797272;
  font-family: Newsreader, 'Source Sans Pro';
  white-space: nowrap;
}
.registerpage-Ru3 .auto-group-lus5-cs3 .emailtext-KqK .auto-group-fv57-MX7 .phone-number-KPP {
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.1199999973;
  letter-spacing: -0.064rem;
  color: #c3bebe;
  font-family: Newsreader, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.registerpage-Ru3 .auto-group-lus5-cs3 .emailtext-yyj {
  margin-bottom: 0.8rem;
  box-sizing: border-box;
  padding: 3.8rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.1199999973;
  letter-spacing: -0.064rem;
  color: #c3bebe;
  font-family: Newsreader, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #c3bebe;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}

.registerpage-Ru3 .auto-group-lus5-cs3 .auto-group-qs1x-TP7 .passwordtext-QZF {
  margin-right: 3.3rem;
  box-sizing: border-box;
  padding: 1.9rem 1.7rem 1.9rem 2.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #c3bebe;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.registerpage-Ru3 .auto-group-lus5-cs3 .auto-group-qs1x-TP7 .passwordtext-QZF .password-w3P {
  width: 20rem; /* Adjusted width for the password input */
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.1199999973;
  letter-spacing: -0.064rem;
  color: #c3bebe;
  font-family: Newsreader, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.registerpage-Ru3 .auto-group-lus5-cs3 .auto-group-qs1x-TP7 .passwordtext-QZF .adsz-tasarm-1-EoB {
  width: 5.3rem;
  height: 4.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.registerpage-Ru3 .auto-group-lus5-cs3 .auto-group-qs1x-TP7 .passwordtext-vvu {
  box-sizing: border-box;
  padding: 1.9rem 1.7rem 1.9rem 2.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #c3bebe;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.registerpage-Ru3 .auto-group-lus5-cs3 .auto-group-qs1x-TP7 .passwordtext-vvu .password-again-FTP {
  width: 20.5rem; /* Adjusted width for the password again input */
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.1199999973;
  letter-spacing: -0.064rem;
  color: #c3bebe;
  font-family: Newsreader, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.registerpage-Ru3 .auto-group-lus5-cs3 .auto-group-qs1x-TP7 .passwordtext-vvu .adsz-tasarm-1-NY1 {
  width: 5.3rem;
  height: 4.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.registerpage-Ru3 .auto-group-lus5-cs3 .auto-group-ww1p-Ub3 {
  box-sizing: border-box;
  padding: 3.6rem 9.5rem 0rem 6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.registerpage-Ru3 .auto-group-lus5-cs3 .auto-group-ww1p-Ub3 .loginbutton-otD {
  margin: 0rem 11.9rem 5.1rem 15.4rem;
  width: calc(100% - 27.3rem);
  height: 7rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.1199999973;
  letter-spacing: -0.064rem;
  color: #ffffff;
  font-family: Newsreader, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #39a7ff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.registerpage-Ru3 .auto-group-lus5-cs3 .auto-group-ww1p-Ub3 .register-qa1 {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.registerpage-Ru3 .auto-group-lus5-cs3 .auto-group-ww1p-Ub3 .register-qa1 .already-have-an-accaunt-then-PbX {
  margin-right: 1.8rem;
  max-width: 33.3rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.1199999968;
  letter-spacing: -0.06rem;
  color: #797272;
  font-family: Newsreader, 'Source Sans Pro';
  flex-shrink: 0;
}
.registerpage-Ru3 .auto-group-lus5-cs3 .auto-group-ww1p-Ub3 .register-qa1 .login-sWh {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 0.1199999973;
  letter-spacing: -0.064rem;
  text-decoration-line: none;
  color: #39a7ff;
  font-family: Newsreader, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}


.registerpage-Ru3 .auto-group-lus5-cs3 .auto-group-qs1x-TP7 {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

a{
  text-decoration: none;
  color: #39a7ff;
}